$baseColor: #545454;
$errorColor: #ab1818;

body {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    margin: 10px 40px;
    border: 1px solid $baseColor;
    color: $baseColor;

    h1, h2, h3 {
        font-size: larger;
        font-weight: bold;
        padding: 5px 0;
    }

    h2 {
        font-size: large;
    }

    h3 {
        font-size: medium;
    }

    main {
        flex: 2;
    
        section {
            max-width: 800px;
            margin: 50px auto;
        }

        .hidden {
            display: none;
        }

        @media(max-width: 850px) {
            section {
                max-width: 500px;
            }
        }
        
        @media(max-width: 550px) {
            section {
                max-width: 300px;
            }
        }
        
        @media(max-width: 350px) {
            section {
                width: 80%;
            }
        }
    }
}