@import "./base.scss";

form {
    border: 1px solid $baseColor;
    border-radius: 3px;
    padding: 40px;

    input {
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
        color: $baseColor;
    }

    input.error {
        border: 2px solid $errorColor;
        border-radius: 2px;
        color: $errorColor;
    }

    p.error {
        font-size: small;
        color: $errorColor;
        padding: 0 5px;
    }
}